*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

/* START CLASS HELPERS */
.display__desktop {
  display: none;
}

.display__mobile {
  display: block;
}

/* END CLASS HELPERS */
.offers {
  font-family: Arial, sans-serif;
  margin: 0 16px;
}

.offers__content--container {
  position: relative;
  z-index: 1;
  left: 0;
  width: 100%;
}

.offers__opening {
  margin-bottom: 16px;
}

.offer__disclosure-modal {
  font-size: 14px;
  text-decoration: none;
}

.offers__disclosure-modal {
  justify-content: flex-end;
}

.offers__disclosure-modal--checkbox {
  display: none;
}

.offers__disclosure-modal--checkbox:checked~.offers__modal {
  display: block;
}

.offers__disclosure-modal--checkbox:checked~.offers__background {
  display: block;
}

.offers__background {
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999998;
}

.offers__modal {
  display: none;
  position: absolute;
  max-height: calc(100vh - 60px);
  width: calc(100% - 60px);
  top: 30px;
  left: 30px;
  z-index: 999999;
  background: #fff;
  box-shadow: rgba(43, 43, 43, 0.1) 0px 3px 15px;
  overflow: auto;
  padding: 40px;
  font-size: 12px;
  box-sizing: border-box;
}

.offers__top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.offers__disclosure-modal--toggle {
  cursor: pointer;
  user-select: none;
  z-index: 99;
  position: relative;
  opacity: 0.7;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #1a73e8;
  text-decoration: underline;
}

.offers__toggle:hover {
  color: rgb(50, 50, 50);
}

.modal__close {
  position: absolute;
  right: 40px;
  top: 40px;
}

.modal__close svg {
  height: 20px;
  width: 20px;
  cursor: pointer;
  user-select: none;
}

.modal__label {
  margin-top: 16px;
  margin-bottom: 8px;
  color: rgb(50, 50, 50);
  font-weight: 700;
}

.modal__text {
  margin: 12px 0;
}

.offers__tag {
  opacity: 0.8;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 2.5px;
  color: #1c7a70;
  text-transform: uppercase;
}

.offers__headline {
  font-family: Poppins;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  color: #121212;
}

.primary {
  color: #1a73e8;
}

.offers__subheadline,
.offers__description {
  display: none;
}

.list__offers--container {
  padding: 10px 16px;
}

.offers__header {
  display: none;
}

.offers__list {
  counter-reset: offer;
}

.offers__footer {
  font-size: 16px;
  line-height: 24px;
  color: #494e54;
  margin: 64px 16px 0px;
}

.offers__footer-header {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #3c3b3b;
  text-align: center;
  padding-bottom: 34px;
}

.offers__footer--headline {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: normal;
  margin-bottom: 15px;
}

.offers__footer--content {
  margin-bottom: 30px;
}

.offers__footer--content p {
  margin-bottom: 10px;
}

.offer {
  display: grid;
  grid-template-columns: 1fr 37px 1fr;
  grid-template-areas:
    "image line apr"
    "toggle line link"
    "badge badge badge"
    "details details details";
  justify-items: stretch;
  padding: 10px 15px;
  margin-bottom: 9px;
  background-color: #ffffff;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(60, 64, 67, 0.3);

}

.left__info {
  display: -webkit-flex;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.offer__ribbon {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 20px;
}

.offer__ribbon--image {
  color: #ffffff;
  background-color: #1a73e8;
  width: 40px;
  height: 20px;
  border-top-left-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offers__list .offer:nth-of-type(1) .offer__ribbon--image {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #1a73e8;
  color: #1a73e8;
  background-color: white;
  width: 48px;
  padding-right: 12px;
}

.offer__ribbon--image::before {
  counter-increment: offer;
  content: counter(offer);
  font-weight: 600;
}

.index-counter__border {
  display: -webkit-inline-flex;
  display: inline-flex;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent transparent #1a73e8;
  line-height: 0;
  border-width: 0 9px 20px;
  border-left-color: #1a73e8;
}

.offers__list .offer:nth-of-type(1) .index-counter__border {
  display: -webkit-inline-flex;
  display: inline-flex;
  width: 15px;
  height: 29px;
  border: none;
  background-color: white;
  transform: rotate(20deg);
  margin-left: -5px;
  margin-bottom: -3.5px;
  border-left: 1px solid #1a73e8;
}

.offer__ribbon--text {
  font-size: 12px;
  color: #a3a3a3;
}

.ribbon {
  display: none;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  height: 26px;
  margin-left: 3px;
  text-align: center;
  z-index: 0;
}

.offers__list .offer:nth-of-type(1) .ribbon {
  display: flex;
}

.ribbon__border_left {
  display: -webkit-inline-flex;
  display: inline-flex;
  width: 5px;
  height: 0;
  border-style: solid;
  line-height: 0;
  position: absolute;
  margin-left: -18px;
  box-sizing: content-box;
  border-width: 0 0 20px 7px;
  border-color: #1a73e8 #1a73e8 #1a73e8 transparent;
  color: #1a73e8;
}

.ribbon__text {
  border-radius: 0 0 4px;
  padding: 0px 12px 0 5px;
  width: auto;
  margin-left: -7px;
  height: 20px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.13px;
  color: #ffffff;
  background-color: #1a73e8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer__details {
  grid-area: details;
  display: none;
}

.offer__toggle {
  opacity: 0.5;
  font-family: Poppins;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  color: #3c3b3b;
  grid-area: toggle;
  display: flex;
  align-items: center;
}

.offer__toggle svg {
  height: 15px;
  width: 15px;
  color: #a3a3a3;
  margin-left: 5px;
}

.features__toggle {
  grid-area: features_toggle;
  display: flex;
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #1d7a70;
}

.features__toggle svg {
  height: 15px;
  width: 15px;
  color: #1d7a70;
  margin-left: 5px;
}

.footer__toggle svg {
  height: 15px;
  width: 15px;
  color: #a3a3a3;
  margin-left: 5px;
}

.offer__checkbox,
.footer__checkbox,
.features__checkbox {
  display: none;
}

.offer__apr {
  display: flex;
  grid-area: apr;
  padding-bottom: 12px;
  flex-direction: column;
  align-items: center;
}

.apr__label {
  font-family: Poppins;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #121212;
}

.apr__value {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #121212;
}

.caret--up {
  display: none;
}

.offer__checkbox:checked~.offer__details {
  display: block;
}

.footer__checkbox:checked~.footer__details {
  display: block;
}

.footer__details {
  display: none;
  opacity: 0.9;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #3c3b3b;
}

.footer__toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  opacity: 0.9;
  border-bottom: 1px solid rgba(60, 59, 59, 0.5);
  margin: 17px 0;
}

.footer__checkbox:checked~.footer__toggle {
  color: #1a73e8;
}

.footer__checkbox:not(:checked)~.footer__toggle::before {
  margin-right: 5px;
}

.footer__checkbox:checked~.footer__toggle::before {
  margin-right: 5px;
}

.features__checkbox:not(:checked)~.features__toggle::before {
  content: "See more";
  margin-right: 2px;
}

.features__checkbox:checked~.features__toggle::before {
  content: "See less";
  margin-right: 2px;
}

.features__checkbox:checked~.features__toggle .caret--up {
  display: block;
}

.features__checkbox:checked~.features__toggle .caret--down {
  display: none;
}

.features__checkbox:checked~.features__toggle .caret--up {
  display: block;
}

.features__checkbox:checked~.features__toggle .caret--down {
  display: none;
}

.footer__toggle .bottom-arrow--up {
  display: none;
}

.footer__checkbox:checked~.footer__toggle .bottom-arrow--up {
  display: block;
}

.footer__checkbox:checked~.footer__toggle .bottom-arrow--down {
  display: none;
}

.offer__checkbox:checked~.offer__toggle .caret--up {
  display: block;
}

.offer__checkbox:checked~.offer__toggle .caret--down {
  display: none;
}

.offer__checkbox:checked~.offer__toggle .caret--up {
  display: block;
}

.offer__checkbox:checked~.offer__toggle .caret--down {
  display: none;
}

.offer__details {
  display: none;
  margin-top: 12px;
  font-size: 12px;
  border-top: 1px solid rgba(151, 151, 151, 0.2);
  padding-top: 10px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.11px;
  color: #3a3a3a;
}

.offer__details {
  font-size: 12px;
  padding: 0;
  list-style-position: inside;
}

.offer__details p {
  margin-bottom: 10px;
}

.offer__details--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". . .";
  margin: 32px 0;
}

.offer__details--available,
.offer__details--fees {
  margin-top: 24px;
}

.offer__details--label {
  margin: 0px 0px 12px 2px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: #3c3b3b;
}

.offer__details--text {
  margin: 12px 0 0;
  opacity: 0.9;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #3c3b3b;
}

.offer__details--text ul {
  padding-left: 23px;
}

.offer__details--text ul li::marker {
  color: #1d7a70;
}

.offer__image {
  grid-area: image;
  justify-self: center;
  align-self: center;
  margin-top: 0px;
}

.offer__image img {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  max-width: 130px;
}

.offer__mobile--line {
  grid-area: line;
  width: 1px;
  margin: 0 0 0 18px;
  opacity: 0.2;
  background-color: #979797;
}

.offer__score {
  padding-top: 10px;
  grid-area: score;
  justify-self: end;
  align-self: center;
}

.offer__rating {
  font-size: 45px;
  font-weight: 500;
  color: #008fae;
}

.offer__features {
  display: none;
}

.offer__features__list {
  display: flex;
  justify-content: start;
}

.offer__features__list ul {
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.offer__features li svg {
  min-height: 13px;
  min-width: 13px;
  margin-right: 5px;
  color: #ffe119;
  margin-top: 5px;
  height: 13px;
  width: 13px;
}

.offer__features li {
  align-items: flex-start;
  display: flex;
  margin-bottom: 0px;
  opacity: 0.9;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #3c3b3b;
}

.offer__loan {
  grid-area: loan;
  align-self: center;
  opacity: 0.9;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #3c3b3b;
}

.offer__loan::before {
  content: "LOAN AMOUNT";
  padding-right: 5px;
  opacity: 0.5;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #3c3b3b;
}

.offer__links {
  grid-area: link;
  justify-self: center;
  align-self: center;
  margin-top: 0px;
}

.offer__cta a {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: -0.11px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  padding: 7px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.offer__phone {
  border: 3px solid #fa5e01;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer__phone a svg {
  height: 14px;
  width: 14px;
  color: #fa5e01;
  margin: 0 9px;
}

.offer__phone a span {
  display: none;
}

.offer__phone[data-phone=""] {
  display: none;
}

.offer__site {
  display: none;
}

.offer__site a {
  text-decoration: underline;
  color: #1d7a70;
  font-size: 12px;
}

.offer__visit {
  grid-area: visit;
  font-family: Poppins;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  display: block;
  align-items: center;
  padding-right: 15px;
}

.offer__visit a {
  text-decoration: underline;
  color: #1d7a70;
  font-size: 12px;
  display: block;
}

.offer__site a:hover {
  text-decoration: underline;
}

.offer__cta a {
  color: #fff;
  background: #1a73e8;
}

.offer__buttons {
  display: flex;
}

.offer__name {
  display: none;
}

.addon__sale-badge--star {
  display: none;
}

.offers__list .offer:nth-of-type(1) .addon__sale-badge--star.display__mobile {
  display: flex;
  grid-area: badge;
}

.offers__list .offer:nth-of-type(1) .addon__sale-badge--star.display__desktop {
  display: none;
}

.offers__list .offer:nth-of-type(1) .addon__sale-badge--star {
  font-family: Poppins;
  height: 23px;
  max-height: 23px;
  border-radius: 12px;
  background-color: #171717;
  align-items: center;
  justify-content: center;
  margin: 16px 0px 0px;
  text-decoration: none;
  padding: 0 10px;
}

.offers__list .offer:nth-of-type(1) .offer__image img {
  margin-top: 20px;
}

.addon__sale-badge__icon--star {
  display: -webkit-flex;
  display: flex;
  width: 14px;
  height: 13px;
  margin-right: 5px;
}

.addon__sale-badge__text--star {
  height: 12px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 10px;
  font-size: 12px;
}

@media (min-width: 769px) {
  .display__desktop {
    display: flex;
  }

  .display__mobile {
    display: none;
  }

  .addon__sale-badge--star {
    display: none;
  }

  .offers__list .offer:nth-of-type(1) .addon__sale-badge--star.display__mobile {
    display: none;
  }

  .offers__list .offer:nth-of-type(1) .addon__sale-badge--star.display__desktop {
    display: flex;
  }


  .offer__mobile--line {
    display: none;
  }

  .offers__disclosure-modal--toggle {
    font-size: 16px;
  }

  .offers__opening {
    margin-top: 40px;
  }

  .offers {
    max-width: 720px;
    margin: 0 auto;
  }

  .offers__headline {
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
  }

  .offers__subheadline {
    display: block;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #121212;
    margin-bottom: 16px;
  }

  .offers__description {
    display: block;
    width: 606px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #808080;
  }

  .offer {
    grid-template-columns: 0.8fr 2fr 0.8fr;
    grid-template-areas:
      "image content link"
      "toggle toggle toggle"
      "details details details";
    margin-bottom: 16px;
    padding-top: 25px;
    padding-bottom: 10px;
    min-height: 155px;
  }

  .offer__image {
    justify-self: center;
    padding: 0;
    margin: 0;
    align-self: center;
    padding-right: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .offer__apr {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 0;
  }

  .offer__name {
    display: block;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.15px;
    color: #121212;
    margin-bottom: 9px;
  }

  .apr__content {
    display: flex;
    align-items: center;
  }

  .apr__label {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #121212;
    text-align: start;
    width: 108px;
  }

  .apr__value {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #121212;
  }

  .offer__image img {
    width: 100%;
    max-height: none;
    max-width: 130px;
    margin: 0;
  }

  .offer__features {
    display: block;
    padding: 0;
    margin-top: 16px;
  }

  .offer__features li {
    display: flex;
    font-family: Roboto;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -0.14px;
    color: #3a3a3a;
    align-items: flex-start;
  }

  .offer__features li svg {
    display: block;
  }


  .offer__features__list {
    justify-content: start;
    margin: 0;
  }

  .offer__features ul {
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

  .offer__buttons {
    flex-direction: column;
  }

  .offer__links {
    justify-self: center;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .offer__toggle,
  .features__toggle {
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: left;
    align-items: center;
    font-size: 12px;
  }

  .features__toggle {
    padding-left: 30px;
  }

  .offer__phone {
    margin-bottom: 8px;
  }

  .offer__phone a span {
    display: flex;
  }

  .offer__phone a {
    min-height: 36px;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 1px;
    text-align: center;
    color: #fa5e01;
    text-decoration: none;
    align-items: center;
    justify-content: center;
  }

  .offer__cta a {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -0.19px;
    text-align: center;
    color: #ffffff;
    padding: 14px 35px;
  }

  .offers__footer {
    width: 919px;
    margin: 64px auto;
  }

  .offers__footer--headline {
    font-size: 21px;
  }

  .offers__footer-header {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
  }

  .offers__footer--content {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .offer__details {
    font-family: Roboto;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -0.14px;
    color: #3a3a3a;
    list-style-position: outside;
  }
}

@media (min-width: 992px) {
  .offers__disclosure-top {
    width: 630px;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  }

  .offers {
    max-width: 960px;
  }

  .offers__header {
    font-size: 12px;
  }

  .offer__rating {
    font-size: 35px;
  }

  .offer__features ul {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .offers {
    max-width: 1110px;
  }

  .asset__group {
    display: block;
    width: 100%;
    z-index: 10;
    position: absolute;
    top: -115px;
    right: 20px;
  }

  .asset__rectangle--1 {
    display: block;
    position: absolute;
    right: 0px;
    bottom: 80px;
  }

  .asset__rectangle--2 {
    display: block;
    position: absolute;
    right: 0;
    bottom: 80px;
  }
}